@import "./../../admin.crud.form.scss";

::ng-deep .theme-default .mat-step-header .mat-step-icon-state-done {
    background-color: green !important;
    color: white !important;
}


mat-divider {
    margin: 0px 0px 16px 0px;
}

mat-list-item {
    color: grey !important;
    font-size: 22px !important;
}

mat-list-item {
    color: grey !important;
    font-size: 22px !important;
}

::ng-deep body.theme-default .mat-input-element {
    color: grey;
}

::ng-deep h3 {
    color: gray;
}

::ng-deep .mat-checkbox-layout {
    margin: 0 12px 14px 15px;
}

.wrap {
    flex-wrap: wrap;
}

.container {
    margin: 0 auto;
    display: flex;
}

.item {
    flex: 1;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #7e7e7e !important;
    opacity: 1; /* Firefox */
  }

.not-empty-select.mat-selected {
    color: #7e7e7e !important;
}

::ng-deep .mat-select-value-text {
    color: #7e7e7e !important;
}

.expand{
    border-color: #673ab7  !important;
    margin-bottom: 15px !important;
}

::ng-deep .titulo-panel {
    font-weight: 600 !important;
    color: #4F4F4F !important;
}

.filters {
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid #123261;
}

.filtroNome {
    width: 60%;
}

.filtroLetra {
    width: 10%;
}

.padraoFiltros {
    width: 20%;
}


.alphabet {
    display: flex;
}


.departamento {
    display: inline;
    padding: 10px;
    .mat-form-field {

                    width: 145px;
                }
}

.categoria {
    display: inline;
    .mat-form-field {

                    width: 145px;
                }
}

.subCategoria {
    display: inline;
    padding: 10px;
    .mat-form-field {

                    width: 145px;
                }
}

.segmento {
    display: inline;
    padding: 10px;
    .mat-form-field {

                    width: 145px;
                }
}

.selectOption {
    height: inherit;
    overflow: none;
}

.btnAlphabet {
    margin-left: 10px;
}

.check-box{
    margin: -1%;
    color: #7e7e7e;
}

.add-atributo-button {
    padding-left: 80%;
    margin-top: 25px;
}

.add-correlato-button {
    padding-left: 70%;
    margin-top: 25px;
}


.mat-form-field {
    &.mat-form-field-type-mat-select {

        .mat-form-field-wrapper {
            padding: 16px 0;
            width: 138px;
            .mat-form-field-infix {
                width: 138px;
            }
        }

        .mat-form-field-underline {
            display: table;
        }
    }
}

 .header {
    background: #123261;
}

::ng-deep .search-sku-btn {
    background: #123261;
    color: white;
}

::ng-deep.skus-table {  
    min-width: 1200;  
    width: 100%;  
 }

::ng-deep.atributo-table {  
    min-width: 1500px;  
    width: 100%;  
 }  

.text-white {
    color: white;
}

.text-deafult-color {
  color: #123261;  
}


.no-result {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.search-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-btn {
    background: #123261 !important;
     color: white !important; 
     margin-left: 5px; 
     width: 12%;     
     margin-bottom: 10px;
}

.clean-btn {
     margin-left: 5px; 
     margin-bottom: 10px;  
}

.back-next-icons {
    cursor: pointer;
    color: black;
}

.table-skus {
    max-height: 1000px;
    overflow: auto;
}

::ng-deep  { 
    .ps__thumb-y {
        width: 15px;
        display: block;
    }
}

.titulo-atributos-respostas {
    font-size: 15px;
}

.atributos-respostas {
    display: initial;
    overflow: auto;
}

.atributo-select {
    width: 20%;
    margin-right: 15px;
}

.voltar-lista {
    border: 1px thin gray
}

.total-de-skus {
  color: white;
  background: #123261;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border-radius: 7px 7px 0px 0px;
}

.icon-skus {
  color: #1b4bda;
  background-color: white;
  display: flex;
  padding: 5px;
}

.infos {
   margin-bottom: 25px;
   margin-top: 25px;
}

.divider-total {
    margin-right: 10px;
    margin-left: 10px;
}

.insert-delete-sku {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.inserir-skus {
    margin-right: 15px;
}
